version: '3.9'
services:
  app:
    container_name: api-container
    image: node:16-alpine
    working_dir: /usr/app/
    restart: always
    volumes:
      - ./dist/:/usr/app/dist/
      - ./package.json:/usr/app/package.json
      - ./.env:/usr/app/.env
    ports:
      - '3000:3000'
    command: sh -c "npm install --only=prod && npm run start:dev"
